<div class="container">
 <h1> <%= @list.name %> </h1>
 <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  <div>
    <%= link_to "View all lists", lists_path %>
  </div>


  <div class="text-decoration-none" >
    <% @bookmarks.each do |bookmark| %>
      <div class="card movie-card">
        <h3> <%= bookmark.movie.title %> </h3>
        <p> <%= link_to "Delete",
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </p>
        <p> <%= bookmark.comment %> </p>
        <%= image_tag(bookmark.movie.poster_url, size: "300x400", alt: bookmark.movie.title) %>
        <p> <%= bookmark.movie.overview %> </p>
        <p> <%= bookmark.movie.rating %> </p>
      </div>
    <% end %>
  </div>

  <div>
    <h3>Add a movie</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>


</div>
